.new-contanier{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.new-input{
  display: block;
  margin: 10px auto;
  font-size: 25px;
  width: 20%;
  padding: 8px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.app-name{
  text-align: center;
  color: rgb(243, 153, 42);
}